body{
    background-color: #fbeeda;
}
header{
    display: flex;
    position:absolute;
    justify-content: space-between;
    align-items: center;
    background-color: #c6101300;
    height: 50px;
    width: 90vw;
    margin: 0px;
    padding-right: 20px;
}
#header{
    width: 100px;
    height: 50px;
    margin-right: 80px;
}
#titulo{
    position:absolute;
    left: 50px;
    top: 10px;
    flex-direction: column;
    font-family: serif;
    color: #aa0707;
    margin:0px;
}
#subtitulo{
    position: absolute;
    left: 50px;
    top: 30px;
    flex-direction: column;
    font-family:Verdana;
    color: #6a0037;
    font-size: 6px;
    margin: 0px;

}
#simbolo{
    position: absolute;
    top:0px;
    left: 20px;
    font-size: 30px;
    flex-direction: row;
    color: #520739;
    margin: 0px;
}
.botao{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    color:#930002;
    margin:0px;
    background-color: #e3caa1;
    border-radius: 2px;
    border:4px;
    width: 40px;
    height: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
}